<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperlinkingPDFsWithUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HyperlinkingPDFsWithUI.Properties.Settings>
            <setting name="SpreadsheetId" serializeAs="String">
                <value>1g5l1WEZC9FBmduamrW0HEEde_AoAfjfLiRyCwc4ypII</value>
            </setting>
            <setting name="SheetName" serializeAs="String">
                <value>PDFLinking</value>
            </setting>
            <setting name="CredentialFilepath" serializeAs="String">
                <value>C:\Users\mclark1\Downloads\credentials.json</value>
            </setting>
            <setting name="FolderId" serializeAs="String">
                <value>1rvewk8nRAoEAAUx6yH9z0gmChxfQO8E5</value>
            </setting>
        </HyperlinkingPDFsWithUI.Properties.Settings>
    </userSettings>
</configuration>